@font-face {
  font-family: 'jn';
  src:  url('https://jonchongch.github.io/fonts/jn.eot?awb4x8');
  src:  url('https://jonchongch.github.io/fonts/jn.eot?awb4x8#iefix') format('embedded-opentype'),
    url('https://jonchongch.github.io/fonts/jn.ttf?awb4x8') format('truetype'),
    url('https://jonchongch.github.io/fonts/jn.woff?awb4x8') format('woff'),
    url('https://jonchongch.github.io/fonts/jn.svg?awb4x8#jn') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jn';
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 0.85em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-jn-01:before {
  content: "\e900";
  color: #0fc;
}
.fa-jn-02:before {
  content: "\e901";
}
.logo {
  font-size: 1em;
  vertical-align: middle;
}
